<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <%- include('../includes/welcome.ejs') %>

    <main>
        <form class="search" action="/products" method="POST">
            <select id="category" name="category" >
                <option value="">All</option>
                <option value="Electronics">Electronics</option>
                 <option value="Home appliance">Home appliance</option>
                 <option value="Sports">Sports</option>
                <option value="Clothers">Clothers</option>
                <option value="Other">Other</option>
              </select>
            <input 
                type="text" 
                name="filter" 
                id="filter" 
                value=""
                placeholder="Search">
        </div>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button class="btn" type="submit">Search</button>
        </form>
        <% if (prods.length > 0) { %>
            <div class="grid">
                <% for (let product of prods) { %>
                    <article class="card product-item">
                        <header class="card__header">
                            <h2 class="product__title"><%= product.title %></h2>
                        </header>
                        <div class="card__image">
                            <img class="product_image" src="/<%= product.imageUrl %>"
                                alt="<%= product.title %>">
                        </div>
                        <div class="card__content">
                            <h2 class="product__category">
                                <%= product.category %>
                            </h2>
                        </div>
                        <div class="card__content">
                            <h2 class="product__price">$<%= product.price %></h2>
                            <h4 class="product__description"><%= product.description %></h4>
                        </div>
                        <div class="card__actions">
                            <a href="/products/<%= product._id %>" class="btn">Details</a>
                            <% if (isAuthenticated) { %>
                                <%- include('../includes/add-to-cart.ejs', {product: product}) %>
                            <% } %>
                        </div>
                    </article>
                <% } %>
            </div>
            <%- include('../includes/pagination.ejs', {currentPage: currentPage, nextPage: nextPage, previousPage: previousPage, lastPage: lastPage, hasNextPage: hasNextPage, hasPreviousPage: hasPreviousPage}) %>
        <% } else { %>
            <h1>No Products Found!</h1>
        <% } %>
    </main>
<%- include('../includes/end.ejs') %>